@import "src/variables";

.items {
  height: calc(100vh - 6vh);

  .items-wrapper {

    .function-wrapper {

      .button-wrapper {
        position: absolute;
        right: 1vh;
        top: 1vh;

        &.cancel {
          transform: rotate(45deg);
        }

        .button-icon {
          background-color: $white;
        }
      }
    }
  }
}
