@import "src/variables";

.login {
  height: calc(100vh - 6vh);

  .login-wrapper {
    width: 100%;

    .login-content {
      max-width: 50vh;

      input {
        background-color: $light-gray;
        border: 0 none;
        border-radius: 1vh;
        box-sizing: border-box;
        height: 3vh;
        margin: 1vh 0;
        padding: 1vh;
        width: 100%;

        &:focus-visible {
          outline: 0 none;
        }
      }

      
    }
  }
}
