@import "variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: $dark-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wrapper {
  gap: 1vh;
  padding-top: 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  align-items: center;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vh;
    padding: 2vh;
    position: relative;
    width: calc(100% - 20px);
}

button {
  cursor: pointer;
  border: 0 none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  height: 3vh;
  outline: 0 none;
  padding: 0 1vh;

  &.action-button {
    background-color: $orange;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
    color: $white;
  }

  &.form-button {
    float: right;
    transition: background-color .5s ease-in-out;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}