.item-viewer {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 1vh;
    position: relative;

    .button-wrapper {
        display: flex;
        gap: 1vh;
    }

    .item-header {
        line-height: 1;

        .header-first-line {
            align-items: flex-end;
            display: flex;

            h2 {
                margin-right: 2vh;
            }
        }

        .original-price {
            text-decoration: line-through;
        }

        .creator {
            font-size: 12px;
        }
    }

    .description-wrapper {
        display: flex;
        flex-direction: column;
    }
}
